@keyframes circletimer {
  from {
    stroke-dashoffset: 500;
    stroke-dasharray: 500;
  }
  to {
    stroke-dashoffset: 0;
    stroke-dasharray: 500;
  }
}

svg.teste {
  background-color: transparent;
  position: absolute;
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(-90deg);
}

.teste3 {
  background-color: transparent;
  position: absolute;
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(-90deg);
  z-index: -1;
}

.teste2 {
  stroke: rgba(188, 0, 84, 1);
  stroke-width: 16;
  fill: transparent;
  stroke-dashoffset: 500;
  stroke-dasharray: 0;
  animation: 30s circletimer linear;
  z-index: 3;
}
.timer {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(188, 0, 84, 1);
  font-size: 42px;
  font-weight: 700;
}

.circle {
  stroke: #ddd;
  stroke-width: 10;
  fill: transparent;
  stroke-dashoffset: 500;
  stroke-dasharray: 0;
  z-index: -1;
}
